<% layout("/layouts/boilerplate.ejs") %>
<body>

    <div class="row mt-3">
        <div class="col-8 offset-3 "><br>
            <h3><b><%= listing.title %></b></h3> <br>
        </div>   

            <div class="card col-6 offset-3 show-card listing-card"> 
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing-image">
                <br>
                <div class="card-body">

                    <p class="card-text">
                        Owned by:  <b><i> <%= listing.owner.username %></i></b>
                    </p>

                    <p class="card-text"><%= listing.description %></p>
                    <p class="card-text">&#8377 <%= listing.price.toLocaleString("en-IN") %></p>
                    <p class="card-text"><%= listing.location %></p>
                    <p class="card-text"><%= listing.country %></p>
                             
                 </div>
            </div>
        <br />
    </div>

    <% if( currUser && currUser._id.equals(listing.owner._id) ) { %>
        <div class="btns">
            <a href="/listings/<%= listing._id %>/edit" 
                class="btn btn-dark col-1 offset-3" id="edit-btn"> Edit </a>
            
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>
        </div>  
     <% } %>   


        <% if(currUser) { %>
            <div class="col-8 offset-3 mb-3">
                <hr>
                <h4>Leave a Review</h4>
                    <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate class="needs-validation">
                        <div class="mb-3 mt-3">
                            <label for="rating" class="form-label"><h5>Rating</h5></label>
                            <input 
                                type="range" 
                                min="1" 
                                max="5" 
                                id="rating" 
                                name="review[rating]" 
                                class="form-range"
                            >
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="comment" class="form-label"><h5>Comments</h5></label>
                            <textarea
                            name="review[comment]" 
                            id="comment"
                            cols="30"
                            rows="5"
                            class="form-control"
                            required
                            ></textarea>
                            <div class="invalid-feedback">Please add a review</div>
                        </div>
                        <button class="btn btn-outline-dark mt-3">Submit</button>
                    </form>
            </div>   
        <% } %>    

    

            <hr>
        <div class="col-8 offset-3 mb-3">
                <p><b>All Review</b></p>
            <div class="row row-cols-lg-3  row-cols-sm-1">
                    <% for(review of listing.reviews) { %>  
                        <div class="card col-5 mb-3 ms-4"> 
                            <div class="card-body">
                                <h5 class="card-title">@<%= review.author.username %></h5><br>
                                <p class="card-text"><%= review.comment %></p>
                                <p class="card-text"><%= review.rating %></p>

                                <% if( currUser && currUser._id.equals(review.author._id) ) { %>
                                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-2 mt-1" method="post">
                                        <button class="btn btn-sm btn-dark">Delete</button>
                                    </form>
                                <% } %>
                            </div>
                            </div>
                    <% } %> 
                </div>    
       
    </div>
</body> 